<div class="page-content">
    <div fxLayout="column" fxLayoutGap="15px" fxLayout.gt-md="row" fxLayoutGap.gt-md="30px">
        <div fxFlex="40" class="wrapper">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">Photos & Videos</h5>
                    <div class="fileuploader fileuploader-theme-dragdrop">
                        <input id="input-file" type="file" #uploader (change)="UploadFile($event)" class="cdk-visually-hidden" />
                        <label for="input-file" class="fileuploader-input" (dragover)="ondragover($event)"
                            (drop)="ondrop($event)">
                            <div class="fileuploader-input-inner">
                                <div class="fileuploader-main-icon"></div>
                                <h5 class="fileuploader-input-caption">
                                    Drop files here to upload
                                </h5>
                                <p>or</p>
                                <div class="fileuploader-input-button" matRipple>
                                    <span>Browse files</span>
                                </div>
                            </div>
                        </label>

                        <!--//.fileuploader-input-->
                        <div class="fileuploader-items">
                            <div class="fileuploader-items-list" *ngFor="let item of urlsDetails; let i = index">
                              <div class="fileuploader-item file-has-popup file-type-image file-ext-png">
                                <div class="columns">
                                  <div class="columns-thumbnail">
                                    <div class="fileuploader-item-image">
                                      <img [src]="item.Url" />                                  
                                    </div>
                                  </div>
                                  <div class="column-title">
                                    <h5>{{ item.DisplayName }}</h5>
                                  </div>
                                  <div class="columns-actions">
                                    <button type="button" mat-icon-button matTooltip="Delete" matTooltipPosition="above"
                                      (click)="onDeleteCall(item.DisplayName,i)">
                                      <mat-icon>remove_circle</mat-icon>
                                    </button>
                                  </div>
                                </div>
                                <!--//.columns-->
                              </div>
                              <!--//.fileuploader-item-->
                            </div>
                            <!--//.fileuploader-items-list-->
                          </div>
                        <!--//.fileuploader-items-->
                        <div class="fileuploader-info">
                            Image specifications
                            <mat-icon
                                matTooltip="Image must be less than 5MB. Allowed file types : jpg, jpeg, png."
                                matTooltipPosition="after" class="help">error_outline</mat-icon>
                        </div>
                        <!--//.fileuploader-info-->
                    </div>
                    <!--//.fileuploader-->
                </div>
            </div>
        </div>
    </div>
</div>