/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-dialog-actions {
    float: right;
}
.img-section {
    margin: 20px;
    display: flex;
    max-width: 445px;
    max-height: 302px;
    padding: 25px;
    align-items: center;
}
.mat-loading {
    display: flex;
    position: relative;
    padding: 140px;
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}
